

/* Mobile Optimization */
@media (max-width: 500px) {
    .containers {
        width: 85%;
        padding: 15px;
    }
    .form-title {
        font-size: 18px;
    }
    .input-groups {
        font-size: 12px;
        padding: 8px;
    }
    .btn {
        font-size: 14px;
    }
}

